<ion-item *ngFor="let psychologue of psychologues">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img src = "./../../../assets/img/ai-bot.jpeg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-label>Nom : Zongwe Benoni</ion-label>
        <ion-label>Adresse : Shangungu N° 28</ion-label>
        <ion-label>Num Phone : +243975442523</ion-label>
        <ion-button expand="full">Voir détails</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
