<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Bienvenue.</h1>
    <p>Commencer par vous connectez <br> à votre compte.</p>
  </ion-text>
  <form class="form" [formGroup]="validationsForm" (ngSubmit)="signInWithEmail(validationsForm.value)">
    <div class="inputField">
      <ion-item>
        <ion-label position="floating" type="email">Adresse email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message"
            *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" type="password">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message"
            *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="actions">
      <ion-button class="signup-btn" expand="block" type="submit" [disabled]="!validationsForm.valid">Se connecter</ion-button>
      <label class="error-message">{{errorMessage}}</label>
        <div class="separator">
          <span>ou</span>
          <span class="line left"></span>
          <span class="line right"></span>
        </div>
      <div class="login-buttons">
        <ion-button>
          <ion-avatar>
            <img src="../../../assets/icon/fb-favicon.jpg">
          </ion-avatar>
          <ion-label>Facebook</ion-label>
        </ion-button>
        <ion-button>
          <ion-avatar>
            <img src="../../../assets/icon/google-favicon-ok.png">
          </ion-avatar>
          <ion-label>Google</ion-label>
        </ion-button>
      </div>
      <p class="login">Avez vous un compte? <a routerLink="/enregistrement">Enregister vous</a></p>
    </div>
  </form>
</ion-content>
