<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Bienvenue.</h1>
    <p>Commencer par vous connectez <br> à votre compte.</p>
  </ion-text>
  <div class="inputField">
    <ion-item>
      <ion-label position="floating" type="email">Adresse email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" type="password">Mot de passe</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="actions">
    <ion-button class="signup-btn" expand="block" (click)="clicker()">Se connecter</ion-button>
      <div class="separator">
        <span>ou</span>
        <span class="line left"></span>
        <span class="line right"></span>
      </div>
    <div class="login-buttons">
      <ion-button>
        <ion-avatar>
          <img src="../../../assets/icon/fb-favicon.jpg">
        </ion-avatar>
        <ion-label>Facebook</ion-label>
      </ion-button>
      <ion-button>
        <ion-avatar>
          <img src="../../../assets/icon/google-favicon-ok.png">
        </ion-avatar>
        <ion-label>Google</ion-label>
      </ion-button>
    </div>
    <p class="login">Avez vous un compte? <a routerLink="/enregistrement">Enregister vous</a></p>
  </div>
</ion-content>
