<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Moode [o_o]</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="entete">
    <ion-text class="title">Paramètres</ion-text>
    <br><br>
    <ion-text class="subtitle">Personnaliser votre compte</ion-text>
  </div>
  
  <ion-item-group>
    <ion-item>
      <ion-label>Partager Moode</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Envoyer un feedback</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sécurité</ion-label>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item>
      <ion-label>Check-in time</ion-label>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item>
      <ion-label>Quel est votre nom</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Changer email</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-label>Terms of service</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Privacy policy</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Licenses</ion-label>
    </ion-item>
  </ion-item-group>
    
  <ion-item-group>  
    <ion-item button class="ion-text-center" (click)="deconnexion()">
      <ion-label color="danger">Déconnexion</ion-label>
    </ion-item>
  </ion-item-group>

  <div class="ion-text-center" style="padding-bottom: 5%;">
    <ion-text>Version 1.0.0</ion-text>
  </div>
  
</ion-content>
