ion-content {
    --background: rgb(213, 208, 223);
}

div {
    text-align: center;
    height: 30%;
    padding-top: 15%;
}

.title {
    font-weight: bold;
    font-size: x-large;
}

.subtitle {
    font-size: large;
    color: darkgray;
}