<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let categorie of categories" routerLink="/">
    <img [src]="categorie.imgSrc" />
    <div class="card-title"> {{ categorie.designation }}</div>
    <div class="card-subtitle">{{ categorie.articles.length}}</div>
  </ion-card>
</ion-content>
