<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let categorie of categories" routerLink="/">
    <img src="../../../assets/icon/fb-favicon.jpg" />
    <div class="card-title"> {{ categorie.designation }}</div>
    <div class="card-subtitle">{{ categories.length}}</div>
  </ion-card>
</ion-content>
