.card-background-page{
    
    ion-card {
        position: relative;
        text-align: center;
        height: 35%;
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0rem;
        width: 100%;
        font-weight: bold;
        color: #000;
    }

    .card-subtitle {
        font-size: 1.0rem;
        position: absolute;
        top: 62%;
        width: 100%;
        color: #000000;
    }
}