<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo [imageSrc] = this.src[0]></app-logo>
      <h2>Bienvenue</h2>
      <p>A demo Ionic App</p>
    </ion-slide>
    <ion-slide>
      <app-logo [imageSrc] = this.src[1]></app-logo>
      <h2>Discussion en temps réels</h2>
      <p>A demo Ionic App</p>
    </ion-slide>
    <ion-slide>
      <app-logo [imageSrc] = this.src[2]></app-logo>
      <h2>Slide 3</h2>
      <p>A demo Ionic App</p>
    </ion-slide>
    <ion-slide>
      <app-logo [imageSrc] = this.src[3]></app-logo>
      <h2>Trouver un psychologue à proximité de chez vous</h2>
      <p>A demo Ionic App</p>
    </ion-slide>
    <ion-slide>
      <app-logo [imageSrc] = this.src[4]></app-logo>
      <h2>Commencez</h2>
      <p>A demo Ionic App</p>
    </ion-slide>
  </ion-slides>
</ion-content>