ion-content {
    --background: rgb(213, 208, 223);
}

div ion-item {
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

ion-card {
    margin: 1%;
    margin-bottom: 4%;
    border-radius: 0px;
}