h1 {
    text-align: center;
    font-weight: bold;
}

div {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

div {
    text-align: center;
}

.explain {
    margin-top: 13%;
    text-align: justify;
}

.no-item {
    text-align: center;
}