ion-item{
    --padding-start: 5px;
    --padding-end: 0px;
    --margin-start:0px;
}

ion-card {
    margin-left:0%;
    margin-right: 0%;
    border-radius: 0%;
}

ion-card-content {
    padding-right: 0%;
    padding-left: 0%;
}
