<ion-list lines="none" mode="'ios' | 'md'">
  <ion-list-header lines="inset">Articles Récents</ion-list-header>
  <ion-item *ngFor="let item of articles" >
    <ion-card href="/">
      <ion-card-title>
        {{ item.titre }}
      </ion-card-title>
      <img src="../../../assets/icon/google-favicon-ok.png"/>   
      <ion-card-content>
        <p>
          {{ item.resumer}}
        </p>
      </ion-card-content>
      <div>{{ item.nombreDeVues}}</div>
    </ion-card>
  </ion-item>
</ion-list>
    
