ion-list {
    margin-left: -7%;
    margin-right: -7%;

    ion-item-header{
        text-align: center;
    }

    ion-item{
        ion-card{

            ion-card-title{}

            .img{}

            ion-card-content{}

            div {}
        }
    }
}