<ion-list lines="none">
  <ion-list-header><h3>Articles Récents</h3></ion-list-header>
  <ion-item *ngFor="let item of articles" >
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>{{ item.titre }}</ion-card-title>
      </ion-card-header>  
      <ion-card-content>
        <ion-img [src]="item.imagesrc"></ion-img> 
        <p>
          {{ item.resumer}}
        </p>
        <div>Nombre de vues : {{ item.nombreDeVues}}</div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
