<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="catalogue">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Catalogue</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="chatbot">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Moode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button> 
    
    <ion-tab-button tab="utilisateur">
      <ion-icon name="person"></ion-icon>
      <ion-label>Utilisateur</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>