<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="profile">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="chatbot">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Moode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="parametres">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>  
  </ion-tab-bar>
</ion-tabs>