<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="psychologue">
      <ion-icon name="man"></ion-icon>
      <ion-label>Psychologue</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-icon name="send"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chatbot">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Moode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>  
  

    <ion-tab-button tab="parametres">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>  
  </ion-tab-bar>
</ion-tabs>